<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheet/style.css">
</head>
<body>
    <section class="container">
    <div class="singleUser">
    <h2><%= user.name %> </h2>
    <h3><%= user.age %> </h3>
    <h3><%= user.email %> </h3>
    <h3><%= user.bio %> </h3>
    <h3><%= user.id %> </h3>

    <a href="/users/<%= user.id%>/edit"><button class="edit-btn">Edit</button></a>
    <a href="/users/<%= user.id%>/delete"> <button class="delete-btn">Delete</button></a>
</div>
</section>
</body>
</html>